In [18]:
#Tidying variable values as column names with stack
import pandas as pd
state_fruit=pd.read_csv('data/state_fruit.csv',index_col=0)
state_fruit

#the dataset contains variable as column namem, we will need to 
#transpose these columns name into column values

state_fruit_tidy=state_fruit.stack().reset_index() #turn the results into a DataFrame
state_fruit_tidy.columns=['states','fruit','weight']
state_fruit_tidy

#state_fruit.stack().rename_axis(['state','fruit']).reset_index(name='weight')

State
Texas    Apple      12
         Orange     10
         Banana     40
Arizona  Apple       9
         Orange      7
         Banana     12
Florida  Apple       0
         Orange     14
         Banana    190
dtype: int64

In [23]:
#Tidy variable values as column names with melt
state_fruit=pd.read_csv('data/state_fruit2.csv')
state_fruit.melt(id_vars=['State'],value_vars=['Apple','Orange','Banana'],var_name='Fruit',value_name='Weight')

     State   Fruit  Weight
0    Texas   Apple      12
1  Arizona   Apple       9
2  Florida   Apple       0
3    Texas  Orange      10
4  Arizona  Orange       7
5  Florida  Orange      14
6    Texas  Banana      40
7  Arizona  Banana      12
8  Florida  Banana     190

In [17]:
import pandas as pd
movie=pd.read_csv('data/movie.csv')
actor=movie[['movie_title','actor_1_name','actor_2_name','actor_3_name','actor_1_facebook_likes','actor_2_facebook_likes'\
            ,'actor_3_facebook_likes']]
actor.head()

#change column name
def change_col_name(col_name):
    col_name=col_name.replace('_name','')
    if 'facebook' in col_name:
        fb_idx=col_name.find('facebook') #找facebook的位置
        col_name=col_name[:5]+col_name[fb_idx-1:]+col_name[5:fb_idx-1]
        
    return col_name

actor2=actor.rename(columns=change_col_name)
actor2.head()

stubs=['actor','actor_facebook_likes']
actor2_tidy=pd.wide_to_long(actor2,stubnames=stubs,i='movie_title',j='actor_num',sep='_')
actor2_tidy    


df=pd.read_csv('data/stackme.csv')
df2=df.rename(columns={'a1':'group1_a1','b2':'group1_b2','d':'group2_a1','e':'group2_b2'})
pd.wide_to_long(df2,stubnames=['group1','group2'],i=['State','Country','Test'],j='Label',suffix='.+',sep='_')
#suffix default is /d, 去看regular expression

                           group1  group2
State Country Test  Label
TX    US      Test1 a1       0.45       2
                    b2       0.30       6
MA    US      Test2 a1       0.03       9
                    b2       1.20       7
ON    CAN     Test3 a1       0.70       4
                    b2       4.20       2

In [25]:
#invert stacked data
import pandas as pd
usecol_func=lambda x:'UGDS_' in x or x=='INSTNM'
college=pd.read_csv('data/college.csv',index_col='INSTNM',usecols=usecol_func)
college.head()

college_stacked=college.stack(dropna=True)
college_stacked.head(10)

#变回去
college_stacked.unstack()

#metl and pivot
college2=pd.read_csv('data/college.csv',usecols=usecol_func)
college_melt=college2.melt(id_vars='INSTNM',var_name='Race',value_name='Percentage')
college_melt.head()

#use pivot to invert this previous result:
meltd_inv=college_melt.pivot(index='INSTNM',columns='Race',values='Percentage')
meltd_inv.head() #index 的 order变了

college2_replication=meltd_inv.loc[college2['INSTNM'],college2.columns[1:]].reset_index()
college2_replication.head()

college.stack() #这个有2个index 一个是INSTNM 一个是USDS..

#如果在unstack里面什么参数都不给，他默认用最里面的index，也就是USDS作为cuolumn，这种情况下
#最外面的index是0,然后-1,-2向里面的index内推，所以你要用outermost column using level=0
college.stack().unstack(0)

#T or Transpose()
college.T

INSTNM,Alabama A & M University,University of Alabama at Birmingham,Amridge University,University of Alabama in Huntsville,Alabama State University,The University of Alabama,Central Alabama Community College,Athens State University,Auburn University at Montgomery,Auburn University,...,Strayer University-North Dallas,Strayer University-San Antonio,Strayer University-Stafford,WestMed College - Merced,Vantage College,SAE Institute of Technology San Francisco,Rasmussen College - Overland Park,National Personal Training Institute of Cleveland,Bay Area Medical Academy - San Jose Satellite Location,Excel Learning Center-San Antonio South
UGDS_WHITE,0.0333,0.5922,0.2990,0.6988,0.0158,0.7825,0.7255,0.7823,0.5328,0.8507,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
UGDS_BLACK,0.9353,0.2600,0.4192,0.1255,0.9208,0.1119,0.2613,0.1200,0.3376,0.0704,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
UGDS_HISP,0.0055,0.0283,0.0069,0.0382,0.0121,0.0348,0.0044,0.0191,0.0074,0.0248,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
UGDS_ASIAN,0.0019,0.0518,0.0034,0.0376,0.0019,0.0106,0.0025,0.0053,0.0221,0.0227,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
UGDS_AIAN,0.0024,0.0022,0.0000,0.0143,0.0010,0.0038,0.0044,0.0157,0.0044,0.0074,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
UGDS_NHPI,0.0019,0.0007,0.0000,0.0002,0.0006,0.0009,0.0000,0.0010,0.0016,0.0000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
UGDS_2MOR,0.0000,0.0368,0.0000,0.0172,0.0098,0.0261,0.0000,0.0174,0.0297,0.0000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
UGDS_NRA,0.0059,0.0179,0.0000,0.0332,0.0243,0.0268,0.0000,0.0057,0.0397,0.0100,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
UGDS_UNKN,0.0138,0.0100,0.2715,0.0350,0.0137,0.0026,0.0019,0.0334,0.0246,0.0140,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [36]:
#Unstacking after a groupby aggregation
import pandas as pd
employee=pd.read_csv('data/employee.csv')
agg=employee.groupby(['RACE','GENDER'])['BASE_SALARY'].agg('mean').astype(int)
agg.unstack() #agg.unstack(-1)  agg.unstack(0) agg.unstack('RACE') agg.unstack('GENDER')

agg2=employee.groupby(['RACE','GENDER'])['BASE_SALARY'].agg(['mean','max','min']).astype(int)
agg2.unstack('GENDER')

                                    mean            max            min
GENDER                            Female   Male  Female    Male Female   Male
RACE
American Indian or Alaskan Native  60238  60305   98536   81239  26125  26125
Asian/Pacific Islander             63226  61033  130416  163228  26125  27914
Black or African American          48915  51082  150416  275000  24960  26125
Hispanic/Latino                    46503  54782  126115  165216  26125  26104
Others                             63785  38771   63785   38771  63785  38771
White                              66793  63940  178331  210588  27955  26125

In [24]:
#Replicate pivot_table with a groupby aggregation
import pandas as pd
import numpy as np
flights=pd.read_csv('data/flights.csv')
fp=flights.pivot_table(index='AIRLINE',columns='ORG_AIR',values='CANCELLED',aggfunc='sum',fill_value=0).round(2)
#fill_value 吧NAN 弄成0, aggfunc default is mean
fp

#use groupby to do the same
fg=flights.groupby(['AIRLINE','ORG_AIR'])['CANCELLED'].agg(np.sum)
fg_unstack=fg.unstack('ORG_AIR',fill_value=0)
fg_unstack
#fp.equals(fg_unstack)

#more complex pivot table
flights.pivot_table(index=['AIRLINE','MONTH'],columns=['ORG_AIR','CANCELLED'],values=['DEP_DELAY','DIST'],\
                    aggfunc=[np.sum,np.mean],fill_value=0)

flights.groupby(['AIRLINE','MONTH','ORG_AIR','CANCELLED'])['DEP_DELAY','DIST'].agg([np.sum,np.mean]).\
unstack(['ORG_AIR','CANCELLED']).fillna(0).swaplevel(0,1,axis='columns')

                    sum                                                        \
              DEP_DELAY
ORG_AIR             ATL          DEN          DFW          IAH            LAS
CANCELLED             0    1       0    1       0    1       0      1       0
AIRLINE MONTH
AA      1         -13.0  0.0   113.0  0.0  4276.0 -3.0   117.0    0.0  1036.0
        2         -39.0  0.0    71.0  0.0  2662.0  0.0     8.0    0.0   -55.0
        3          -2.0  0.0    69.0  0.0  5692.0  0.0   109.0    0.0   326.0
        4           1.0  0.0   304.0  0.0  3518.0  0.0   104.0    0.0   790.0
        5          52.0  0.0   352.0  0.0  5510.0  0.0    55.0    0.0    93.0
        6          96.0  0.0    11.0  0.0  6557.0  0.0   543.0    0.0   883.0
        7         575.0  0.0    80.0  0.0  4461.0  0.0  1015.0    0.0   330.0
        8         132.0  0.0   588.0  0.0  3773.0  0.0   139.0    0.0   226.0
        9         383.0  0.0   116.0  0.0  2411.0  0.0    45.0    0.0   -74.0
        11        258.0  0.0   404.0  0.0  3496.0  0.0   130.0    0.0   299.0
        12        396.0  0.0   121.0  0.0  2380.0  0.0   253.0    0.0   -15.0
AS      1           0.0  0.0   -17.0  0.0    -6.0  0.0     0.0    0.0   105.0
        2           1.0  0.0   -15.0  0.0    16.0  0.0     0.0    0.0   654.0
        3          -2.0  0.0   -36.0  0.0    14.0  0.0     0.0    0.0   -53.0
        4           7.0  0.0   -15.0  0.0    12.0  0.0     8.0    0.0   -62.0
        5          68.0  0.0     4.0  0.0    90.0  0.0   -15.0    0.0   102.0
        6           0.0  0.0    29.0  0.0     2.0  0.0   -13.0    0.0   -54.0
        7           0.0  0.0    16.0  0.0   -31.0  0.0    -9.0    0.0   -55.0
        8          41.0  0.0   -40.0  0.0    13.0  0.0     0.0    0.0  -101.0
        9           0.0  0.0    -7.0  0.0   -25.0  0.0    -6.0    0.0   -26.0
        11         -3.0  0.0   -24.0  0.0   -14.0  0.0     0.0    0.0   -86.0
        12         87.0  0.0   -25.0  0.0    57.0  0.0   -13.0    0.0   -72.0
B6      1           0.0  0.0     9.0  0.0    -1.0  0.0     0.0    0.0   236.0
        2           0.0  0.0    71.0  0.0    63.0  0.0     0.0    0.0    91.0
        3           0.0  0.0    62.0  0.0     0.0  0.0     0.0    0.0   136.0
        4           0.0  0.0   -15.0  0.0    -7.0  0.0     0.0    0.0   -17.0
        5           0.0  0.0    15.0  0.0    -8.0  0.0     0.0    0.0    13.0
        6           0.0  0.0    67.0  0.0    21.0  0.0     0.0    0.0   194.0
        7           0.0  0.0     0.0  0.0     0.0  0.0     0.0    0.0   225.0
        8           0.0  0.0    38.0  0.0    63.0  0.0     0.0    0.0   226.0
...                 ...  ...     ...  ...     ...  ...     ...    ...     ...
UA      11        186.0  0.0   983.0  0.0   -17.0  0.0  1940.0    0.0   466.0
        12        350.0  0.0  2515.0  0.0   136.0  0.0  2885.0  227.0   852.0
US      1         -38.0  0.0     3.0  0.0    47.0  0.0   -52.0    0.0   -75.0
        2          -3.0  0.0    59.0  0.0    20.0  0.0    22.0    0.0   -56.0
        3         -40.0  0.0    29.0  0.0   140.0  0.0   -58.0    0.0   -29.0
        4         -26.0  0.0   -75.0  0.0   108.0  0.0    50.0    0.0   -17.0
        5         128.0  0.0    87.0  0.0    35.0  0.0   -27.0    0.0   -51.0
        6         125.0  0.0   -27.0  0.0   255.0  0.0   -19.0    0.0   -12.0
VX      1           0.0  0.0     0.0  0.0     0.0  0.0     0.0    0.0    26.0
        2           0.0  0.0     0.0  0.0     0.0  0.0     0.0    0.0   107.0
        3           0.0  0.0     0.0  0.0     0.0  0.0     0.0    0.0     4.0
        4           0.0  0.0     0.0  0.0     0.0  0.0     0.0    0.0    93.0
        5           0.0  0.0     0.0  0.0     0.0  0.0     0.0    0.0    80.0
        6           0.0  0.0     0.0  0.0     0.0  0.0     0.0    0.0    47.0
        7           0.0  0.0     0.0  0.0     0.0  0.0     0.0    0.0   239.0
        8           0.0  0.0     0.0  0.0     0.0  0.0     0.0    0.0    22.0
        9           0.0  0.0     0.0  0.0     0.0  0.0     0.0    0.0   -14.0
        11          0.0  0.0     0.0  0.0     0.0  0.0     0.0    0.0    38.0
        12          0.0  0.0     0.0  0.0     0.0  0.0     0.0    0.0    24.0
WN      1         894.0  0.0  1827.0  0.0     0.0  0.0     0.0    0.0  1512.0
        2         714.0  0.0  1364.0  0.0     0.0  0.0     0.0    0.0  1058.0
        3        1170.0  0.0  1909.0  0.0     0.0  0.0     0.0    0.0  2280.0
        4        1240.0  0.0  1882.0  0.0     0.0  0.0     0.0    0.0  1993.0
        5        1964.0  0.0  2094.0 -2.0     0.0  0.0     0.0    0.0  2271.0
        6        2533.0  0.0  2427.0  0.0     0.0  0.0     0.0    0.0  3123.0
        7        2604.0  0.0  1919.0  0.0     0.0  0.0     0.0    0.0  4600.0
        8        1718.0  0.0  1180.0  0.0     0.0  0.0     0.0    0.0  3151.0
        9        1033.0  0.0   705.0  0.0     0.0  0.0     0.0    0.0  1400.0
        11        700.0  0.0  1372.0  0.0     0.0  0.0     0.0    0.0  1309.0
        12       1679.0  0.0  1898.0  0.0     0.0  0.0     0.0    0.0  2327.0

                       ...              mean                                   \
                       ...              DIST
ORG_AIR                ...               LAX                       MSP
CANCELLED        1     ...                 0            1            0      1
AIRLINE MONTH          ...
AA      1      0.0     ...       1678.037037  2475.000000   809.000000    0.0
        2      0.0     ...       1745.892308  1818.000000  1008.000000    0.0
        3      0.0     ...       1781.567568  1744.000000   964.733333    0.0
        4      0.0     ...       1850.923913     0.000000   648.714286    0.0
        5      0.0     ...       1820.478261     0.000000   787.250000    0.0
        6      0.0     ...       1761.711111     0.000000   884.750000    0.0
        7      0.0     ...       1814.085106     0.000000   993.578947  980.0
        8      0.0     ...       1650.580357  2150.000000   874.529412    0.0
        9      0.0     ...       1777.532468  1235.000000   830.300000    0.0
        11     0.0     ...       1559.305263  1744.000000   846.136364  930.0
        12     0.0     ...       1829.284314  2115.000000   883.666667  334.0
AS      1      0.0     ...        984.176471     0.000000  1399.000000    0.0
        2      0.0     ...       1022.421053     0.000000     0.000000    0.0
        3      0.0     ...        905.840000     0.000000  1399.000000    0.0
        4      0.0     ...       1115.347826     0.000000     0.000000    0.0
        5      0.0     ...       1023.500000     0.000000  1399.000000    0.0
        6      0.0     ...       1088.275862     0.000000  1399.000000    0.0
        7      0.0     ...        975.588235     0.000000     0.000000    0.0
        8      0.0     ...       1073.250000     0.000000     0.000000    0.0
        9      0.0     ...        967.468750     0.000000  1399.000000    0.0
        11     0.0     ...       1111.695652     0.000000  1399.000000    0.0
        12     0.0     ...        961.850000     0.000000  1399.000000    0.0
B6      1      0.0     ...       2456.428571     0.000000     0.000000    0.0
        2      0.0     ...       2475.600000     0.000000     0.000000    0.0
        3      0.0     ...       2430.666667     0.000000     0.000000    0.0
        4      0.0     ...       2449.000000     0.000000     0.000000    0.0
        5      0.0     ...       2487.727273     0.000000     0.000000    0.0
        6      0.0     ...       2501.250000     0.000000     0.000000    0.0
        7      0.0     ...       2486.076923     0.000000     0.000000    0.0
        8      0.0     ...       2504.142857     0.000000     0.000000    0.0
...            ...     ...               ...          ...          ...    ...
UA      11     0.0     ...       1724.073529     0.000000   751.882353    0.0
        12     0.0     ...       1715.671875     0.000000   740.333333    0.0
US      1      0.0     ...       1789.666667     0.000000  1074.615385    0.0
        2      0.0     ...       1804.375000     0.000000  1024.833333    0.0
        3      0.0     ...       1788.083333     0.000000  1060.714286    0.0
        4      0.0     ...       1760.500000     0.000000  1113.714286    0.0
        5      0.0     ...       1820.954545     0.000000  1014.200000    0.0
        6      0.0     ...       1363.000000     0.000000  1056.444444    0.0
VX      1      0.0     ...       1291.750000     0.000000     0.000000    0.0
        2      0.0     ...       1277.764706  2532.500000     0.000000    0.0
        3      0.0     ...       1530.538462     0.000000     0.000000    0.0
        4      0.0     ...       1514.743590   236.000000     0.000000    0.0
        5      0.0     ...       1568.030303     0.000000     0.000000    0.0
        6      0.0     ...       1572.242424     0.000000     0.000000    0.0
        7      0.0     ...       1102.259259     0.000000     0.000000    0.0
        8      0.0     ...       1192.000000     0.000000     0.000000    0.0
        9      0.0     ...       1858.540541     0.000000     0.000000    0.0
        11     0.0     ...       1346.621622     0.000000     0.000000    0.0
        12     0.0     ...       1283.250000     0.000000     0.000000    0.0
WN      1      0.0     ...        821.336735   512.000000   669.833333  349.0
        2      0.0     ...        741.121951   526.000000   549.636364    0.0
        3      0.0     ...        721.775510   337.000000   640.062500    0.0
        4      0.0     ...        750.638298   322.500000   658.590909    0.0
        5      0.0     ...        867.231481   236.000000   446.722222    0.0
        6      0.0     ...        855.044643     0.000000   693.750000    0.0
        7      0.0     ...        912.453704   327.777778   647.266667    0.0
        8      0.0     ...        835.404040   346.000000   508.703704    0.0
        9      0.0     ...        830.210000   317.666667   644.416667    0.0
        11     0.0     ...        748.404040   459.333333   573.642857    0.0
        12     0.0     ...        811.695238  1067.000000   634.736842    0.0

                                                                   \

ORG_AIR                ORD                       PHX
CANCELLED                0            1            0            1
AIRLINE MONTH
AA      1      1068.876033     0.000000  1167.666667     0.000000
        2      1193.782178   771.142857  1311.461538   868.000000
        3      1058.933333   802.000000  1171.363636     0.000000
        4      1094.633094   943.600000  1266.214286     0.000000
        5       998.774775   999.500000  1240.444444     0.000000
        6      1181.646259  1033.000000  1489.571429     0.000000
        7      1073.920245  1330.333333  1163.835165  1494.000000
        8      1034.883871  1168.000000  1198.901961  2979.000000
        9       998.514286     0.000000  1161.489510     0.000000
        11     1002.088889   714.000000  1121.411765     0.000000
        12     1080.720930   954.000000  1212.454545     0.000000
AS      1      2096.000000     0.000000  1588.666667     0.000000
        2      1721.000000     0.000000  1107.000000     0.000000
        3      1725.500000     0.000000  1090.666667     0.000000
        4      2006.750000     0.000000  1271.428571     0.000000
        5      1863.875000     0.000000  1045.750000     0.000000
        6      1724.600000     0.000000  1107.000000     0.000000
        7      2104.000000     0.000000  1082.500000     0.000000
        8      1721.000000     0.000000  1082.500000     0.000000
        9      1724.600000     0.000000  1107.000000     0.000000
        11     1733.000000     0.000000  1058.000000     0.000000
        12     2102.000000     0.000000  1077.600000     0.000000
B6      1       790.800000     0.000000  2202.000000     0.000000
        2       803.500000     0.000000  2300.000000     0.000000
        3      1298.200000     0.000000  2300.000000     0.000000
        4       782.333333     0.000000  2182.400000     0.000000
        5      1023.333333     0.000000     0.000000     0.000000
        6      1004.333333     0.000000     0.000000     0.000000
        7       941.909091     0.000000     0.000000     0.000000
        8      1226.333333     0.000000     0.000000     0.000000
...                    ...          ...          ...          ...
UA      11     1060.460123   864.000000  1130.777778     0.000000
        12     1092.473333   898.333333  1134.583333     0.000000
US      1       963.050000     0.000000  1088.168067  2187.500000
        2       867.100000   638.500000  1231.360360  1495.666667
        3       845.777778   678.000000  1180.205882  2917.000000
        4       914.444444     0.000000  1163.559748  2917.000000
        5       829.000000   678.000000  1093.541401     0.000000
        6       937.947368     0.000000  1208.267857     0.000000
VX      1      1744.000000     0.000000     0.000000     0.000000
        2      1846.000000     0.000000     0.000000     0.000000
        3         0.000000     0.000000     0.000000     0.000000
        4      1778.000000     0.000000     0.000000     0.000000
        5      1846.000000     0.000000     0.000000     0.000000
        6      1805.200000     0.000000     0.000000     0.000000
        7      1795.000000     0.000000     0.000000     0.000000
        8      1778.000000     0.000000     0.000000     0.000000
        9      1846.000000     0.000000     0.000000     0.000000
        11     1846.000000     0.000000     0.000000     0.000000
        12     1825.600000     0.000000     0.000000     0.000000
WN      1         0.000000     0.000000   812.300699     0.000000
        2         0.000000     0.000000   788.889655   886.000000
        3         0.000000     0.000000   819.783951   651.000000
        4         0.000000     0.000000   794.147239   255.000000
        5         0.000000     0.000000   786.056250     0.000000
        6         0.000000     0.000000   829.653631     0.000000
        7         0.000000     0.000000   799.160256   369.000000
        8         0.000000     0.000000   891.569767     0.000000
        9         0.000000     0.000000   872.840000     0.000000
        11        0.000000     0.000000   823.258741   872.000000
        12        0.000000     0.000000   778.420690     0.000000



ORG_AIR                SFO
CANCELLED                0            1
AIRLINE MONTH
AA      1      1860.166667     0.000000
        2      1337.916667  2586.000000
        3      1502.758621     0.000000
        4      1646.903226     0.000000
        5      1436.892857     0.000000
        6      1671.517241     0.000000
        7      1771.000000   337.000000
        8      1735.020833     0.000000
        9      1770.540541     0.000000
        11     1597.325000     0.000000
        12     1765.564103     0.000000
AS      1       636.000000     0.000000
        2       621.500000     0.000000
        3       620.363636     0.000000
        4       629.333333     0.000000
        5       579.769231     0.000000
        6       621.666667     0.000000
        7       570.636364     0.000000
        8       558.909091     0.000000
        9       607.153846     0.000000
        11      613.090909     0.000000
        12      636.545455     0.000000
B6      1      1575.733333  2704.000000
        2      2198.300000     0.000000
        3      1645.642857     0.000000
        4      1835.285714     0.000000
        5      2102.461538     0.000000
        6      1771.000000     0.000000
        7      1559.866667     0.000000
        8      2255.846154     0.000000
...                    ...          ...
UA      11     1438.823529   337.000000
        12     1686.180328  2446.000000
US      1      1561.588235   651.000000
        2      1908.727273     0.000000
        3      2099.181818  2521.000000
        4      1890.285714     0.000000
        5      1354.000000     0.000000
        6      2059.333333     0.000000
VX      1       978.976190  2704.000000
        2      1099.555556   679.000000
        3      1280.155556     0.000000
        4      1123.642857     0.000000
        5      1358.552632     0.000000
        6      1079.372549     0.000000
        7      1475.634146   337.000000
        8      1176.369565     0.000000
        9      1208.116279     0.000000
        11     1209.150000     0.000000
        12     1218.905660     0.000000
WN      1       714.800000   337.000000
        2       715.026316   388.000000
        3       600.750000     0.000000
        4       685.222222   392.000000
        5       703.244898   392.000000
        6       721.125000   361.166667
        7       636.210526     0.000000
        8       644.857143   392.000000
        9       731.578947   354.500000
        11      580.875000   392.000000
        12      782.256410     0.000000

[149 rows x 80 columns]

In [21]:
#Renaming axis levels fro eash reshaping
import pandas as pd
college=pd.read_csv('data/college.csv')
cg=college.groupby(['STABBR','RELAFFIL'])\
           ['UGDS','SATMTMID'].agg(['size','min','max']).head(10)
#注意columns有2个level但是都没有名字
cg=cg.rename_axis(['AGG_COLS','AGG_FUNCS'],axis='columns')
#现在每个columns都有名字，就可以stack了
cg.stack('AGG_FUNCS').head()
#但是按照默认的，stack以后的level会在最里面，我们可以用swaplevel
cg.stack('AGG_FUNCS').swaplevel('AGG_FUNCS','STABBR',axis='index').head()

#we can continue to make sure of the axis level name by sorting levels with sort_index method
cg.stack('AGG_FUNCS').swaplevel('AGG_FUNCS','STABBR',axis='index')\
.sort_index(level='RELAFFIL',axis='index')

AGG_COLS                       UGDS  SATMTMID
AGG_FUNCS RELAFFIL STABBR
size      0        AK           7.0       7.0
                   AL          72.0      72.0
                   AR          68.0      68.0
                   AS           1.0       1.0
                   AZ         124.0     124.0
                   CA         609.0     609.0
min       0        AK         109.0       NaN
                   AL          12.0     420.0
                   AR          18.0     427.0
                   AS        1276.0       NaN
                   AZ           1.0     503.0
                   CA           0.0     445.0
max       0        AK       12865.0       NaN
                   AL       29851.0     590.0
                   AR       21405.0     565.0
                   AS        1276.0       NaN
                   AZ      151558.0     580.0
                   CA       44744.0     785.0
size      1        AK           3.0       3.0
                   AL          24.0      24.0
                   AR          18.0      18.0
                   AZ           9.0       9.0
min       1        AK          27.0     503.0
                   AL          13.0     400.0
                   AR          20.0     495.0
                   AZ          25.0     480.0
max       1        AK         275.0     503.0
                   AL        3033.0     560.0
                   AR        4485.0     600.0
                   AZ        4102.0     480.0

In [40]:
#Tidying when mutiple variables are stored as columns names
import pandas as pd
weightlifting=pd.read_csv('data/weightlifting_men.csv')
weightlifting
wl_melt=weightlifting.melt(id_vars='Weight Category',var_name='sex_age',value_name='Qual Total')
wl_melt.head(10)
#str.split Series.str.split(pat=None, n=-1, expand=False)[source]
#pat : str, optional String or regular expression to split on. If not specified, split on whitespace.
#expand : bool, default False 
#If True, return DataFrame/MultiIndex expanding dimensionality.
#If False, return Series/Index, containing lists of strings.
sex_age=wl_melt['sex_age'].str.split(expand=True)
sex_age.columns=['Sex','Age Group']
sex_age['Sex']=sex_age['Sex'].str[0] #就是截图35的第一个，再赋值回去，相当于left(str,1)

#use pd.concat 
wl_cat_total=wl_melt[['Weight Category','Qual Total']]
wl_tiny=pd.concat([sex_age,wl_cat_total],axis=1) #当axis = 1(columns)的时候，concat就是行对齐，然后将不同列名称的两张表合并
#https://blog.csdn.net/stevenkwong/article/details/52528616
wl_tiny

   Sex Age Group
0    M     35-39
1    M     35-39
2    M     35-39
3    M     35-39
4    M     35-39
5    M     35-39
6    M     35-39
7    M     35-39
8    M     40-44
9    M     40-44
10   M     40-44
11   M     40-44
12   M     40-44
13   M     40-44
14   M     40-44
15   M     40-44
16   M     45-49
17   M     45-49
18   M     45-49
19   M     45-49
20   M     45-49
21   M     45-49
22   M     45-49
23   M     45-49
24   M     50-54
25   M     50-54
26   M     50-54
27   M     50-54
28   M     50-54
29   M     50-54
..  ..       ...
50   M     65-69
51   M     65-69
52   M     65-69
53   M     65-69
54   M     65-69
55   M     65-69
56   M     70-74
57   M     70-74
58   M     70-74
59   M     70-74
60   M     70-74
61   M     70-74
62   M     70-74
63   M     70-74
64   M     75-79
65   M     75-79
66   M     75-79
67   M     75-79
68   M     75-79
69   M     75-79
70   M     75-79
71   M     75-79
72   M       80+
73   M       80+
74   M       80+
75   M       80+
76   M       80+
77   M       80+
78   M       80+
79   M       80+

[80 rows x 2 columns]

In [47]:
#Tidying when mutiple variables are stored as columns names
import pandas as pd
weightlifting=pd.read_csv('data/weightlifting_men.csv')
weightlifting
wl_melt=weightlifting.melt(id_vars='Weight Category',var_name='sex_age',value_name='Qual Total')
wl_melt.head(10)

age_group=wl_melt['sex_age'].str.extract('(\d{2}[-+](?:\d{2})?)',expand=False)
sex=wl_melt['sex_age'].str[0]
new_cols={'Sex':sex,'Age Group':age_group}
wl_melt2=wl_melt.assign(**new_cols).drop('sex_age',axis=1)
wl_melt2.sort_index(axis=1)

   Age Group  Qual Total Sex Weight Category
0      35-39         137   M              56
1      35-39         152   M              62
2      35-39         167   M              69
3      35-39         182   M              77
4      35-39         192   M              85
5      35-39         202   M              94
6      35-39         210   M             105
7      35-39         217   M            105+
8      40-44         130   M              56
9      40-44         145   M              62
10     40-44         160   M              69
11     40-44         172   M              77
12     40-44         182   M              85
13     40-44         192   M              94
14     40-44         200   M             105
15     40-44         207   M            105+
16     45-49         125   M              56
17     45-49         137   M              62
18     45-49         150   M              69
19     45-49         165   M              77
20     45-49         175   M              85
21     45-49         182   M              94
22     45-49         190   M             105
23     45-49         197   M            105+
24     50-54         115   M              56
25     50-54         127   M              62
26     50-54         140   M              69
27     50-54         150   M              77
28     50-54         160   M              85
29     50-54         167   M              94
..       ...         ...  ..             ...
50     65-69          97   M              69
51     65-69         107   M              77
52     65-69         112   M              85
53     65-69         120   M              94
54     65-69         122   M             105
55     65-69         127   M            105+
56     70-74          67   M              56
57     70-74          75   M              62
58     70-74          82   M              69
59     70-74          90   M              77
60     70-74          95   M              85
61     70-74         100   M              94
62     70-74         102   M             105
63     70-74         107   M            105+
64     75-79          62   M              56
65     75-79          67   M              62
66     75-79          75   M              69
67     75-79          82   M              77
68     75-79          87   M              85
69     75-79          90   M              94
70     75-79          95   M             105
71     75-79         100   M            105+
72       80+          55   M              56
73       80+          57   M              62
74       80+          60   M              69
75       80+          65   M              77
76       80+          70   M              85
77       80+          75   M              94
78       80+          80   M             105
79       80+          85   M            105+

[80 rows x 4 columns]

In [97]:
#Tidy when mutltiple variables are stored as column values
inspections=pd.read_csv('data/restaurant_inspections.csv',parse_dates=['Date'])
inspections.head(10)
#two variable name and date
inspections.set_index(['Name','Date','Info']).unstack('Info')
#make the index levels into columns with reset_index
#DataFrame.reset_index(level=None, drop=False, inplace=False, col_level=0, col_fill='')
#col_level : int or str, default 0
#If the columns have multiple levels, determines which level the labels are inserted into. 
#By default it is inserted into the first level.
insp_tity=inspections.set_index(['Name','Date','Info']).unstack('Info').reset_index(col_level=-1)
insp_tity.columns=insp_tity.columns.droplevel(0).rename(None)
insp_tity

,Name,Date,Borough,Cuisine,Description,Grade,Score
0,3 STAR JUICE CENTER,2017-05-10,BROOKLYN,"Juice, Smoothies, Fruit Salads",Facility not vermin proof. Harborage or condit...,A,12.0
1,A & L PIZZA RESTAURANT,2017-08-22,BROOKLYN,Pizza,Facility not vermin proof. Harborage or condit...,A,9.0
2,AKSARAY TURKISH CAFE AND RESTAURANT,2017-07-25,BROOKLYN,Turkish,Plumbing not properly installed or maintained;...,A,13.0
3,ANTOJITOS DELI FOOD,2017-06-01,BROOKLYN,"Latin (Cuban, Dominican, Puerto Rican, South &...",Live roaches present in facility's food and/or...,A,10.0
4,BANGIA,2017-06-16,MANHATTAN,Korean,Covered garbage receptacle not provided or ina...,A,9.0
5,BANGKOK CUISINE,2017-07-19,MANHATTAN,Thai,Non-food contact surface improperly constructe...,A,13.0
6,BASIL,2017-05-03,BROOKLYN,Jewish/Kosher,Cold food item held above 41Âº F (smoked fish ...,A,13.0
7,BEIT JEDDO,2017-03-23,BROOKLYN,Middle Eastern,Thawing procedures improper.,A,13.0
8,BIG FLEISHIG'S EXPRESS,2017-02-22,BROOKLYN,Jewish/Kosher,"Single service item reused, improperly stored,...",A,12.0
9,BLOSSOM ON COLUMBUS,2017-01-25,MANHATTAN,American,"Food contact surface not properly washed, rins...",A,10.0
10,BON APPETIT RESTAURANT,2017-06-27,QUEENS,Creole,Lighting inadequate; permanent lighting not pr...,A,10.0
11,BRANDY'S PIANO BAR,2017-07-24,MANHATTAN,American,Non-food contact surface improperly constructe...,A,9.0
12,"CADWALADER, WICKERSHAM & TAFT",2017-06-07,MANHATTAN,American,"Sanitized equipment or utensil, including in-u...",A,11.0
13,CAFE 58,2017-04-11,BROOKLYN,American,Facility not vermin proof. Harborage or condit...,A,11.0
14,CAFFEBENE,2017-08-07,MANHATTAN,CafÃ©/Coffee/Tea,"Food contact surface not properly washed, rins...",A,5.0
15,CALL IT A WRAP,2017-08-24,STATEN ISLAND,American,Cold food item held above 41Âº F (smoked fish ...,A,8.0
16,CHARLENA CHATEAU,2017-02-28,BROOKLYN,Caribbean,Facility not vermin proof. Harborage or condit...,A,12.0
17,CIBO EXPRESS GOURMET MARKET (VAGABOND),2017-05-24,QUEENS,American,Non-food contact surface improperly constructe...,A,6.0
18,CIPRIANI DOLCI,2017-01-17,MANHATTAN,Italian,Plumbing not properly installed or maintained;...,B,22.0
19,COZY CORNER BAR & RESTAURANT,2017-05-03,QUEENS,American,Food not protected from potential source of co...,A,12.0
20,D-LITE DONUTS,2017-06-30,QUEENS,American,"Food contact surface not properly washed, rins...",A,5.0
21,DELI & GRILL,2017-04-26,BROOKLYN,Delicatessen,Plumbing not properly installed or maintained;...,A,10.0
22,E & E Grill House,2017-08-08,MANHATTAN,American,Non-food contact surface improperly constructe...,A,9.0
23,EMILIO SUPER BAKERY,2017-04-18,BRONX,Bakery,Plumbing not properly installed or maintained;...,A,5.0
24,EMIR PALACE,2017-05-16,BROOKLYN,Middle Eastern,"Food contact surface not properly washed, rins...",A,9.0
25,FIRST STOP BAR & GRILL,2017-05-11,QUEENS,American,Proper sanitization not provided for utensil w...,Not Yet Graded,12.0
26,FISH MARKET RESTAURANT,2017-06-16,MANHATTAN,Seafood,Non-food contact surface improperly constructe...,B,24.0
27,GOURMET SPRING RESTAURANT,2017-02-13,QUEENS,Chinese,Non-food contact surface improperly constructe...,A,12.0
28,HAPPY TOWN CHINESE RESTAURANT,2017-03-15,QUEENS,Chinese,Non-food contact surface improperly constructe...,A,8.0
29,HILLSIDE DOSA HUTT,2017-08-02,QUEENS,Vegetarian,Food not protected from potential source of co...,A,8.0
...,...,...,...,...,...,...,...
70,PRIMA PASTA & CAFE,2017-01-24,QUEENS,Italian,"Food contact surface not properly washed, rins...",A,12.0
71,PROMDI,2017-06-13,QUEENS,Filipino,Evidence of mice or live mice present in facil...,Z,9.0
72,PUNCH LINE JUICE BAR,2017-08-02,BROOKLYN,"Juice, Smoothies, Fruit Salads","No facilities available to wash, rinse and san...",Not Yet Graded,31.0
73,QUE SABOR BAKERY CAFE,2017-04-06,QUEENS,"Latin (Cuban, Dominican, Puerto Rican, South &...",Non-food contact surface improperly constructe...,A,9.0
74,ROOM CAFE,2017-08-01,QUEENS,Korean,Appropriately scaled metal stem-type thermomet...,A,10.0
75,ROSA MEXICANO TRIBECA,2017-06-19,MANHATTAN,Mexican,Non-food contact surface improperly constructe...,A,5.0
76,S & R LE JUICE BAR,2017-02-10,BRONX,"Juice, Smoothies, Fruit Salads",Plumbing not properly installed or maintained;...,A,9.0
77,SABI SUSHI,2017-06-19,MANHATTAN,Japanese,Food not cooled by an approved method whereby ...,B,14.0
78,SAJOMA RESTAURANT & PIZZERIA,2017-02-13,BROOKLYN,"Latin (Cuban, Dominican, Puerto Rican, South &...",Cold food item held above 41Âº F (smoked fish ...,B,23.0
79,SCALETTA RISTORANTE,2017-02-01,MANHATTAN,Italian,Facility not vermin proof. Harborage or condit...,A,10.0
80,SHENANIGAN'S,2017-08-16,QUEENS,American,"Raw, cooked or prepared food is adulterated, c...",A,12.0
81,SOLAS,2017-02-28,MANHATTAN,American,"Food contact surface not properly washed, rins...",A,5.0
82,SOOKK THAI RESTAURANT,2017-02-23,MANHATTAN,Thai,Facility not vermin proof. Harborage or condit...,C,32.0
83,SOUTH SLOPE EATERY & JUICEBAR,2017-07-12,BROOKLYN,American,Wiping cloths soiled or not stored in sanitizi...,A,13.0
84,SUNBURST ESPRESSO BAR,2017-03-24,MANHATTAN,American,Cold food item held above 41Âº F (smoked fish ...,A,7.0
85,SUSHI Q JAPANESE RESTAURANT,2017-08-08,BRONX,Japanese,Hot food item not held at or above 140Âº F.,A,7.0
86,SUSHI YASAKA,2017-07-27,MANHATTAN,Japanese,Hot food item not held at or above 140Âº F.,A,12.0
87,SWEDISH FOOTBALL CLUB,2017-01-13,BROOKLYN,American,"Food contact surface not properly washed, rins...",A,5.0
88,TAK KING CHINESE RESTAURANT,2017-04-19,BROOKLYN,Chinese,Food not cooked to required minimum temperature.,B,16.0
89,TAQUERIA JIMMY EXPRESS,2017-03-09,BROOKLYN,Mexican,Non-food contact surface improperly constructe...,A,13.0
90,TEXAS FRIED CHICKEN AND PIZZA,2017-03-23,BROOKLYN,American,Cold food item held above 41Âº F (smoked fish ...,A,12.0
91,THE CELTIC COVE,2017-08-09,QUEENS,Other,"Raw, cooked or prepared food is adulterated, c...",A,10.0
92,THE CRAFTSMAN,2017-09-15,MANHATTAN,American,Evidence of mice or live mice present in facil...,Not Yet Graded,32.0
93,TOWERS CAFE,2017-08-16,BROOKLYN,American,"Food contact surface not properly washed, rins...",A,12.0
94,TOWNE DELI & PIZZA,2017-04-11,STATEN ISLAND,Pizza,Hot food item not held at or above 140Âº F.,B,16.0
95,VALL'S PIZZERIA,2017-03-15,STATEN ISLAND,Pizza/Italian,Wiping cloths soiled or not stored in sanitizi...,A,9.0
96,VIP GRILL,2017-06-12,BROOKLYN,Jewish/Kosher,Hot food item not held at or above 140Âº F.,A,10.0
97,WAHIZZA,2017-04-13,MANHATTAN,Pizza,"No facilities available to wash, rinse and san...",A,10.0
98,WANG MANDOO HOUSE,2017-08-29,QUEENS,Korean,Accurate thermometer not provided in refrigera...,A,12.0
99,XIAOYAN YABO INC,2017-08-29,QUEENS,Korean,Evidence of mice or live mice present in facil...,Z,49.0

In [116]:
#Tidy when two or move values are stored in the same cell
import pandas as pd
cities=pd.read_csv('data/texas_cities.csv')
cities

geolocations=cities['Geolocation'].str.split(pat='. ',expand=True)
geolocations.columns=['latitude','latitude direction','longitude','longitude direction']
#geolocations=geolocations.astype({'latitude':'float','longitude':'float'})
geolocations=geolocations.apply(pd.to_numeric,errors='ignore')
geolocations
cities_tidy=pd.concat([cities['City'],geolocations],axis=1)
cities_tidy

      City  latitude latitude direction  longitude longitude direction
0  Houston   29.7604                  N    95.3698                   W
1   Dallas   32.7767                  N    96.7970                   W
2   Austin   30.2672                  N    97.7431                   W

In [36]:
#Tidy when variables are stored in column names and values
import pandas as pd
sensors=pd.read_csv('data/sensors.csv')
sensors
#https://blog.csdn.net/maymay_/article/details/80039677
sensors.melt(id_vars=['Group','Property'],var_name='Year')

sensors.melt(id_vars=['Group','Property'],var_name='Year').pivot_table(index=['Group','Year'],\
       columns='Property',values='value').reset_index().rename_axis(None,axis=1)

#Same way use stack and unstack
sensors.set_index(['Group','Property']).stack().unstack('Property')\
       .rename_axis(['Group','Year'],axis='index')\
       .reset_index()\
       .rename_axis(None,axis='columns')

  Group  Year  Flow  Pressure  Temperature
0     A  2012   819       928         1026
1     A  2013   806       873         1038
2     A  2014   861       814         1009
3     A  2015   882       973         1036
4     A  2016   856       870         1042
5     B  2012   887       817         1008
6     B  2013   899       877         1041
7     B  2014   837       914         1009
8     B  2015   824       806         1002
9     B  2016   873       942         1013

In [82]:
#Tidy when multiple observational units are stored in the same table
import pandas as pd
import numpy as np
movie=pd.read_csv('data/movie_altered.csv')
movie.insert(0,'id',np.arange(len(movie))) #0指的是列的位置

stubnames=['director','director_fb_likes','actor','actor_fb_likes']
movie_long=pd.wide_to_long(movie,stubnames=stubnames,i='id',j='num',sep='_').reset_index()
movie_long['num']=movie_long['num'].astype(int)
movie_long.head(9)

movie_table=movie_long[['id','year','duration','rating']]
director_table=movie_long[['id','num','director','director_fb_likes']]
actor_table=movie_long[['id','num','actor','actor_fb_likes']]

movie_entity=movie_table.drop_duplicates().reset_index(drop=True)
director_entity=diretor_table.dropna().reset_index(drop=True)
actor_entity=actor_table.dropna().reset_index(drop=True)

director_cat=pd.Categorical(director_table['director'])
#这里就可以看到 categorical  实际上是计算一个列表型数据中的类别数，即不重复项，
#它返回的是一个CategoricalDtype 类型的对象，相当于在原来数据上附加上类别信息 ，
#具体的类别可以通过和对应的序号可以通过  codes  和 categories 来查看：
director_table.insert(1,'director_id',director_cat.codes)

actor_cat=pd.Categorical(actor_table['actor'])
actor_table.insert(1,'actor_id',actor_cat.codes)

director_associative=director_table[['id','director_id','num']]
dcols=[['director_id','director','director_fb_likes']]
director_unique=director_table[['director_id','director','director_fb_likes']]\
                .drop_duplicates().reset_index(drop=True)
director_unique

      director_id            director  director_fb_likes
0             922       James Cameron                0.0
1              -1                 NaN                NaN
2             794      Gore Verbinski              563.0
3            2020          Sam Mendes                0.0
4             373   Christopher Nolan            22000.0
5             600         Doug Walker              131.0
6              99      Andrew Stanton              475.0
7            2023           Sam Raimi                0.0
8            1646        Nathan Greno               15.0
9            1218         Joss Whedon                0.0
10            549         David Yates              282.0
11           2387         Zack Snyder                0.0
12            279        Bryan Singer                0.0
13           1426        Marc Forster              395.0
14             83      Andrew Adamson               80.0
15           1911        Rob Marshall              252.0
16            169    Barry Sonnenfeld              188.0
17           1785       Peter Jackson                0.0
18           1430           Marc Webb              464.0
19           1901        Ridley Scott                0.0
20            351         Chris Weitz              129.0
21            133       Anthony Russo               94.0
22           1768          Peter Berg              532.0
23            397     Colin Trevorrow              365.0
24           2065         Shane Black             1000.0
25           2218          Tim Burton            13000.0
26            249        Brett Ratner              420.0
27            444         Dan Scanlon               37.0
28           1529         Michael Bay                0.0
29           1202     Joseph Kosinski              364.0
...           ...                 ...                ...
2368          309       Chad Hartigan                3.0
2369         1420     Malcolm Goodwin              117.0
2370         1296        Kevin Jordan                4.0
2371         1318         Kirk Loudon                0.0
2372         2286        Travis Legge              138.0
2373          398  Collin Joseph Neal               14.0
2374          238   Bradley Rust Gray                2.0
2375         1596          Mike Bruce                6.0
2376           86     Andrew Bujalski               26.0
2377          431         Damir Catic                2.0
2378          919       James Bidgood                0.0
2379          650          Eric Eason                3.0
2380         1204     Joseph Mazzella                0.0
2381         1436       Marcus Nispel              158.0
2382          241     Brandon Landers                8.0
2383         1038          Jim Chuchu                0.0
2384          480          Daryl Wein               38.0
2385          972         Jason Trost               91.0
2386          908        Jafar Panahi              397.0
2387          889       Ivan Kavanagh               18.0
2388         1321    Kiyoshi Kurosawa               62.0
2389         2179        Tadeo Garcia                5.0
2390         2210  Thomas L. Phillips              120.0
2391          152     Ash Baron-Cohen                3.0
2392         2066       Shane Carruth              291.0
2393         1656    Neill Dela Llana                0.0
2394          135     Anthony Vallone                2.0
2395         2046         Scott Smith                2.0
2396          186    Benjamin Roberds                0.0
2397          453         Daniel Hsia                0.0

[2398 rows x 3 columns]