In [21]:
import pandas as pd
import numpy as np
college=pd.read_csv('data/college.csv')
college.head()
#college.info()
college.describe(include=[np.number]).T  #select all numeric types use the numpy dtype numpy.number
college.describe(include=[np.object,pd.Categorical]).T
college.describe(include=[np.number],percentiles=[0.01,0.05,0.99]).T

,INSTNM,CITY,STABBR,HBCU,MENONLY,WOMENONLY,RELAFFIL,SATVRMID,SATMTMID,DISTANCEONLY,...,UGDS_2MOR,UGDS_NRA,UGDS_UNKN,PPTUG_EF,CURROPER,PCTPELL,PCTFLOAN,UG25ABV,MD_EARN_WNE_P10,GRAD_DEBT_MDN_SUPP
0,Alabama A & M University,Normal,AL,1.0,0.0,0.0,0,424.0,420.0,0.0,...,0.0000,0.0059,0.0138,0.0656,1,0.7356,0.8284,0.1049,30300,33888
1,University of Alabama at Birmingham,Birmingham,AL,0.0,0.0,0.0,0,570.0,565.0,0.0,...,0.0368,0.0179,0.0100,0.2607,1,0.3460,0.5214,0.2422,39700,21941.5
2,Amridge University,Montgomery,AL,0.0,0.0,0.0,1,NaN,NaN,1.0,...,0.0000,0.0000,0.2715,0.4536,1,0.6801,0.7795,0.8540,40100,23370
3,University of Alabama in Huntsville,Huntsville,AL,0.0,0.0,0.0,0,595.0,590.0,0.0,...,0.0172,0.0332,0.0350,0.2146,1,0.3072,0.4596,0.2640,45500,24097
4,Alabama State University,Montgomery,AL,1.0,0.0,0.0,0,425.0,430.0,0.0,...,0.0098,0.0243,0.0137,0.0892,1,0.7347,0.7554,0.1270,26600,33118.5

In [33]:
#Reducing memeroy by changing data types
cols=['RELAFFIL','SATMTMID','CURROPER','INSTNM','STABBR']
col12=college.loc[:,cols]
col12.dtypes
original_memory=col12.memory_usage(deep=True)
original_memory
col12['RELAFFIL']=col12['RELAFFIL'].astype(np.int8) #Conver the data type
col12.dtypes

col12.select_dtypes(include=['object']).nunique()
new_memory=col12.memory_usage(deep=True)
new_memory

Index           80
RELAFFIL      7535
SATMTMID     60280
CURROPER     60280
INSTNM      660699
STABBR      444565
dtype: int64

In [66]:
#Select the smallest of the largest
movie=pd.read_csv('data/movie.csv')
movie2=moive[['movie_title','imdb_score','budget']]
movie2.nlargest(20,'imdb_score').nsmallest(5,'budget') #Top 20 by imdb_score, from that gives the top 5 lowest budget
movie2.sort_values('imdb_score',ascending=False).head(20).sort_values('budget').head()

#Select the largest of each group by sorting
movie3=moive[['movie_title','title_year','imdb_score']]
movie3.sort_values(['title_year','imdb_score'],ascending=False).head()
movie_top_year=movie3.drop_duplicates(subset='title_year') # keep one first row of each year
movie_top_year

movie4=moive[['movie_title','title_year','content_rating','budget']]
movie4_sorted=movie4.sort_values(['title_year','content_rating','budget'],ascending=[False,False,True])
movie4_sorted.drop_duplicates(subset=['title_year','content_rating']).head(10)

,movie_title,title_year,content_rating,budget
4026,Compadres,2016.0,R,3000000.0
4658,Fight to the Finish,2016.0,PG-13,150000.0
4661,Rodeo Girl,2016.0,PG,500000.0
3252,The Wailing,2016.0,Not Rated,NaN
4659,Alleluia! The Devil's Carnival,2016.0,NaN,500000.0
4731,Bizarre,2015.0,Unrated,500000.0
812,The Ridiculous 6,2015.0,TV-14,NaN
4831,The Gallows,2015.0,R,100000.0
4825,Romantic Schemer,2015.0,PG-13,125000.0
3796,R.L. Stine's Monsterville: The Cabinet of Souls,2015.0,PG,4400000.0

In [1]:
import pandas_datareader as pdr
def set_tailing_loss(brand,purchase_date,perc):
    close=pdr.DataReader(symbol,'google',start=pruchase_date)['Close']
    return close.cummax()*perc

msft_trailing_stop=set_trailing_loss('msft','2017-6-1',0.85)

ImportError: cannot import name 'is_list_like'